body {
  background-image: url("../../assets/bodyBG.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.message-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  min-height: 500px;
}

.mesage {
  margin: 8px 0;
  width: 240px;
  height: 20%;
  border: solid gray 1px;
  position: relative;
}

.containermesage-left {
  align-self: flex-start;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 16px;
  left: 24px;
}
.containermesage-right {
  align-self: flex-end;
  background-color: #fcf6c5;
  border-radius: 5px;
  padding: 16px;
  right: 24px;
  text-align: right;
}

div.id {
  color: gray;
}

div.mesagetext {
  font-weight: bold;
  font-size: 16px;
}

.time {
  color: gray;
  font-size: 11px;
}
